<h1>Listing restaurants</h1>

<%= link_to 'Add a restaurant', new_restaurant_path %>

<% if @restaurants.empty? %>
<p>No restaurant yet<p>
<% end %>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
  </tr>

  <% @restaurants.each do |restaurant| %>
  <tr>
    <td><%= restaurant.name %></td>
    <td><%= restaurant.description %></td>
    <td><%= link_to 'Show', restaurant_path(restaurant) %></td>
    <td><%= link_to "Edit #{restaurant.name}", edit_restaurant_path(restaurant) %></td>
  </tr>
  <% end %>
</table>
